<!doctype html>
<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div class="grid">
    {% for id in ids %}
        <div class="elem" id="{{id}}"></div>
    {% endfor %}
  </div>

</body>


<footer>
  <!-- Plotly.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

</html>
